/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Slabo 27px', serif;
}

.section-title, .section-subtitle {
    text-align: center;
}

.section-title {
    font-size: 3em;
    padding: 0.5em;
    margin-bottom: 0;
}

.section-subtitle {
    font-size: 1em;
    margin: 0 0 3em 0;
    color: #747d8c;
}

.row {
    text-align: center;
}

.nav-link, .page-title, .btn, .section-title, .services-title, .portfolio-title {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.page-subtitle, .section-subtitle, .portfolio-subtitle {
    font-style: italic;
    font-weight: lighter;
}



/* Navigation */

.navigation {
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
    position: absolute;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 2em;
    width: 80%;
}

.nav-link, .brand-name {
    text-decoration: none;
    color: #fff;
}

.brand-name {
    margin-right: 20em;
    font-family: 'Lobster', cursive;
    font-size: 2em;
    color: #5758BB;
}

/* Splash */

.splash {
    height: 100vh;
    position: relative;
    background-image: url(../images/splash.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #000;
    opacity: 0.2
}

.splash-inner {
    text-align: center;
    position: absolute;
}

.page-title, .page-subtitle {
    color: #fff;
    margin: 0 0 1em 0;
}

.page-subtitle {
    font-size: 2em;
}

.page-title {
    font-size: 4em;
}

.btn {
    display: inline-block;
    width: 12em;
    padding: 1em;
    border-radius: 5px;
    background-color: #5758BB;
    text-align: center;
    border: none;
}

.btn-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}

/* Services */ 

.services-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-icon {
    font-size: 2em;
    line-height: 2em;
    width: 2em;
    height: 2em;
    background-color: #fff;
    color: #5758BB;
    border: #5758BB solid 2px;
    border-radius: 50%;
}

.services p:first-of-type {
    font-weight: bold;
    font-size: 1.5em;
}

/* Portfolio */

.portfolio {
    background-color: #f1f2f6;
}

.portfolio-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 1em;
    background-color: #fff;
    border-radius: 10px;
}

.portfolio-img {
    height: 300px;
    position: relative;
}

.portfolio-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.portfolio-img::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s;
}

.portfolio-img:hover::before {
    opacity: 0.5;
}

.img1::after, .img2::after, .img3::after, .img4::after, .img5::after, .img6::after {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    min-height: 50px;
    border: #fff solid 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: #fff;
    opacity: 0;
    transition: all 1s;
}

.img1:hover::after, .img2:hover::after, .img3:hover::after, .img4:hover::after, .img5:hover::after, .img6:hover::after {
    opacity: 1;
}

.img1::after {
    content: 'Laughing';
}

.img2::after {
    content: 'Play with light';
}

.img3::after {
    content: 'Dip kiss';
}

.img4::after {
    content: 'Bride and groom';
}

.img5::after {
    content: 'With coffee';
}

.img6::after {
    content: 'Play with leaves';
}

.portfolio-title {
    font-size: 2em;
    margin: 0.5em 0 0 0;
}

.portfolio-subtitle {
    font-style: italic;
    margin: 0 0 1em 0;
}

/* Footer */ 

.footer-item {
    display: flex;
    align-items: center;
}

.media {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0.5em 2em;
}

.media-item {
    font-size: 0;
}

.media-item i {
    font-size: 24px;
    height: 2em;
    width: 2em;
    line-height: 2em;
    background-color: #5758BB;
    color: #fff;
    border-radius: 50%;
}