/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.section-title, .section-subtitle {
    text-align: center;
}

.section-title {
    font-size: 3em;
    padding: 0.5em;
    margin-bottom: 0;
}

.section-subtitle {
    font-size: 1em;
    margin: 0 0 3em 0;
    color: #747d8c;
}

.row {
    text-align: center;
}

/* Navigation */

.navigation {
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
    position: absolute;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 2em;
    width: 80%;
}

.nav-link, .brand-name   {
    text-decoration: none;
    color: #fff;
}

.brand-name {
    margin-right: 20em;
}

/* Splash */

.splash {
    height: 100vh;
    position: relative;
    background-image: url(../images/splash.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #000;
    opacity: 0.2
}

.splash-inner {
    text-align: center;
    position: absolute;
}

.page-title, .page-subtitle {
    color: #fff;
    margin: 0 0 1em 0;
}

.page-title {
    font-size: 2em;
}

.page-subtitle {
    font-size: 4em;
}

.btn {
    display: inline-block;
    width: 12em;
    padding: 1em;
    border-radius: 5px;
    background-color: #5758BB;
    text-align: center;
    border: none;
}

.btn-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}